<div class="form-actions form-group js-form-wrapper form-wrapper">
  <button class="button button--primary btn-add-cart-icon js-form-submit form-submit btn-success btn p-10" type="button">
    {{'Add to cart'|t}}<i class="bi bi-cart-plus ms-1"></i>
  </button>
</div>
